@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  color-scheme: light; /* color of browser-provided UI */
  --color-primary: #2c6fb3;
  --color-secondary: #2C9EB6;

}
html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgba(192, 192, 192, 0.541) !important;
}

:root {
  font-family:  "Inter", sans-serif;
}